/* --------------------------------

Primary style

-------------------------------- */


base_color = #dbe5d0
base_color2 = #2e3233
base_color3 = #c9cbc4
base_color4 = #69aa6f
base_color5 = #ffffff
base_color6 = #e2e3df
link_color = #69aa6f
link_color_hover = #69aa6f

*, *::after, *::before
  box-sizing: border-box

html 
  font-size: 62.5%

body 
  font-size: 1.6rem
  font-family: sans-serif
  color: base_color2
  background-color: base_color

@media only screen and (max-width: 1169px) 
  body.nav-on-left.overflow-hidden 
    overflow: hidden

a 
  color: link_color
  text-decoration: none

img 
  /* make images responsive */
  max-width: 100%

input 
  font-family: sans-serif
  font-size: 1.6rem

input[type="search"]::-ms-clear 
  /* removes close icon - IE */
  display: none

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
  display: none

/* --------------------------------

Main components

-------------------------------- */
.cd-main-content, .cd-main-header 
  transform: translateZ(0)
  will-change: transform


.cd-main-content, .cd-main-header 
  position: relative
  transition: transform 0.3s

@media only screen and (max-width: 1169px) 
  .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible
    transform: translateX(-260px)
  
  .nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible
    transform: translateX(260px)


.cd-main-content
  background: base_color
  /*min-height: 100vh*/
  z-index: 2

.cd-main-header 
  height: 50px
  background: base_color5
  z-index: 3

.nav-is-fixed .cd-main-header 
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed
  top: 0
  left: 0
  width: 100%

@media only screen and (min-width: 1170px) 
  .cd-main-header 
    height: 80px
  
  .cd-main-header:after 
    content: ""
    display: table
    clear: both

.logo
  position: absolute
  margin:25px 0 0 50px
  width:280px

.cd-logo
  position: relative
  display inline-block
  left: 5%

.cd-logo img 
    display: block

@media only screen and (max-width: 560px)
  .logo
      display :none

@media only screen and (max-width: 1024px)
    .cd-logo img
        width:30px

    .cd-logo
        top:5px

    .logo
      margin:12px 0 0 35px

@media only screen and (max-width: 1169px)
  .nav-on-left .cd-logo 
    left: auto
    right: 5%

@media only screen and (min-width: 1170px) 
  .cd-logo 
    top: 10px
    left: 4em

.cd-header-buttons 
  position: absolute
  display: inline-block
  top: 3px
  right: 5%

.cd-header-buttons li 
  display: inline-block

@media only screen and (max-width: 1169px) 
  .nav-on-left .cd-header-buttons 
    right: auto
    left: 5%
  
  .nav-on-left .cd-header-buttons li 
    float: right

@media only screen and (min-width: 1170px) 
  .cd-header-buttons 
    top: 18px
    right: 4em

.cd-search-trigger, .cd-nav-trigger 
  position: relative
  display: block
  width: 44px
  height: 44px
  overflow: hidden
  white-space: nowrap
  /* hide text */
  color: transparent
  z-index: 3

.cd-search-trigger::before, .cd-search-trigger::after 
  /* search icon */
  content: ''
  position: absolute
  transition: opacity 0.3s
  transform: translateZ(0)
  backface-visibility: hidden

.cd-search-trigger::before 
  /* lens */
  top: 11px
  left: 11px
  width: 18px
  height: 18px
  border-radius: 50%
  border: 3px solid base_color2

.cd-search-trigger::after 
  /* handle */
  height: 3px
  width: 8px
  background: base_color2
  bottom: 14px
  right: 11px
  transform: rotate(45deg)

.cd-search-trigger span 
  /* container for the X icon */
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0

.cd-search-trigger span::before, .cd-search-trigger span::after 
  /* close icon */
  content: ''
  position: absolute
  display: inline-block
  height: 3px
  width: 22px
  top: 50%
  margin-top: -2px
  left: 50%
  margin-left: -11px
  background: base_color2
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0)
  backface-visibility: hidden
  transition: opacity 0.3s, transform 0.3s
  opacity:0

.cd-search-trigger span::before
  transform: rotate(45deg)

.cd-search-trigger span::after
  transform: rotate(-45deg)

.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after 
  /* hide search icon */
  opacity: 0

.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after 
  /* show close icon */
  opacity: 1

.cd-search-trigger.search-is-visible span::before
  transform: rotate(135deg)

.cd-search-trigger.search-is-visible span::after
  transform: rotate(45deg)

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after 
  /* hamburger icon in CSS */
  position: absolute
  display: inline-block
  height: 3px
  width: 24px
  background: base_color2

.cd-nav-trigger span 
  /* line in the center */
  position: absolute
  top: 50%
  right: 10px
  margin-top: -2px
  transition: background 0.3s 0.3s

.cd-nav-trigger span::before, .cd-nav-trigger span::after 
  /* other 2 lines */
  content: ''
  right: 0
  transform: translateZ(0)
  backface-visibility: hidden
  transform-origin: 0% 50%
  transition: transform 0.3s 0.3s

.cd-nav-trigger span::before 
  /* menu icon top line */
  top: -6px

.cd-nav-trigger span::after 
  /* menu icon bottom line */
  top: 6px

.cd-nav-trigger.nav-is-visible span 
  /* hide line in the center */
  background: rgba(46, 50, 51, 0)

.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after 
  /* keep visible other 2 lines */
  background: base_color2

.cd-nav-trigger.nav-is-visible span::before
  transform: translateX(4px) translateY(-3px) rotate(45deg)

.cd-nav-trigger.nav-is-visible span::after
  transform: translateX(4px) translateY(2px) rotate(-45deg)

@media only screen and (min-width: 1170px) 
  .cd-nav-trigger 
    display: none

.cd-primary-nav, .cd-primary-nav ul
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 260px
  background: base_color2
  overflow: auto
  -webkit-overflow-scrolling: touch
  z-index: 1
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0)
  transform: translateX(0)
  transition: transform 0.3s

.cd-primary-nav a, .cd-primary-nav ul a 
  display: block
  height: 50px
  line-height: 50px
  padding: 0 20px
  color: base_color5
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  border-bottom: 1px solid #3a3f40
  transform: translateZ(0)
  will-change: transform, opacity
  transition: transform 0.3s, opacity 0.3s

.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden
    transform: translateX(100%)

.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a 
    transform: translateX(-100%)
    opacity: 0

@media only screen and (max-width: 1169px) 
  .nav-on-left .cd-primary-nav, .nav-on-left .cd-primary-nav ul 
      right: auto
      left: 0

@media only screen and (min-width: 1169px)
    .cd-primary-nav, .cd-primary-nav ul
        margin:-50px 0 0 0

.cd-primary-nav .see-all a 
  /* different style for the See all button on mobile and tablet */
  color: link_color

.cd-primary-nav .cd-nav-gallery .cd-nav-item, .cd-primary-nav .cd-nav-icons .cd-nav-item 
  /* items with picture (or icon) and title */
  height: 80px
  line-height: 80px

.cd-primary-nav .cd-nav-gallery .cd-nav-item h3, .cd-primary-nav .cd-nav-icons .cd-nav-item h3 
  overflow: hidden
  text-overflow: ellipsis

.cd-primary-nav .cd-nav-gallery .cd-nav-item 
  padding-left: 90px

.cd-primary-nav .cd-nav-gallery .cd-nav-item img 
  position: absolute
  display: block
  height: 40px
  width: auto
  left: 20px
  top: 50%
  margin-top: -20px

.cd-primary-nav .cd-nav-icons .cd-nav-item 
  padding-left: 75px

.cd-primary-nav .cd-nav-icons .cd-nav-item p 
  color: base_color2
  font-size: 1.3rem
  /* hide description on small devices */
  display: none

.cd-primary-nav .cd-nav-icons .cd-nav-item::before 
  /* item icon */
  content: ''
  display: block
  position: absolute
  left: 20px
  top: 50%
  margin-top: -20px
  width: 40px
  height: 40px
  background-repeat: no-repeat
  background-position: center center
  background-size: 40px 40px

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-1::before 
  background-image: url("/line-icon-1.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-2::before 
  background-image: url("/line-icon-2.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-3::before 
  background-image: url("/line-icon-3.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-4::before 
  background-image: url("/line-icon-4.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-5::before 
  background-image: url("/line-icon-5.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-6::before 
  background-image: url("/line-icon-6.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-7::before 
  background-image: url("/line-icon-7.svg")

.cd-primary-nav .cd-nav-icons .cd-nav-item.item-8::before 
  background-image: url("/line-icon-8.svg")

@media only screen and (max-width: 1169px) 
  .cd-primary-nav 
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden
    transition: visibility 0s 0.3s
  
  .cd-primary-nav.nav-is-visible 
    visibility: visible
    transition: visibility 0s 0s

@media only screen and (min-width: 1170px) 
  .cd-primary-nav 
    position: static
    padding: 0 150px 0 0
    height: auto
    width: auto
    float: right
    overflow: visible
    background: transparent
  
  .cd-primary-nav:after 
    content: ""
    display: table
    clear: both
  
  .cd-primary-nav.moves-out > li > a 
    /* reset mobile style */
    transform: translateX(0)
    opacity: 1
  
  .cd-primary-nav ul 
    position: static
    height: auto
    width: auto
    background: transparent
    overflow: visible
    z-index: 3
    margin-top :10px
  
  .cd-primary-nav ul.is-hidden 
    /* reset mobile style */
    transform: translateX(0)
  
  .cd-primary-nav ul.moves-out > li > a 
    /* reset mobile style */
    transform: translateX(0)
    opacity: 1
  
  .cd-primary-nav > li 
    float: left
    margin-left: 3em
  
  .cd-primary-nav > li > a 
    /* main navigation buttons style */
    position: relative
    display: inline-block
    height: 80px
    line-height: 80px
    padding: 0 10px
    color: base_color2
    overflow: visible
    border-bottom: none
    transition: color 0.3s, box-shadow 0.3s
  
  .cd-primary-nav > li > a:hover 
    color: link_color_hover
  
  .cd-primary-nav > li > a.selected 
    color: link_color
    box-shadow: inset 0 -2px 0 link_color
  
  .cd-primary-nav .go-back, .cd-primary-nav .see-all 
    display: none
  
  .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons 
    /* dropdown menu style */
    position: absolute
    top: 66px
    width: 100vw
    background: base_color5
    padding: 48px 64px 130px
    box-shadow: inset 0 1px 0 base_color6, 0 3px 6px rgba(0, 0, 0, 0.05)
    transform: translateX(0)
    transition: opacity .3s 0s, visibility 0s 0s
  
  .cd-primary-nav .cd-secondary-nav:after, .cd-primary-nav .cd-nav-gallery:after, .cd-primary-nav .cd-nav-icons:after 
    content: ""
    display: table
    clear: both
  
  .cd-primary-nav .cd-secondary-nav.is-hidden, .cd-primary-nav .cd-nav-gallery.is-hidden, .cd-primary-nav .cd-nav-icons.is-hidden 
    opacity: 0
    visibility: hidden
    transition: opacity .3s 0s, visibility 0s .3s
  
  .cd-primary-nav .cd-secondary-nav > .see-all, .cd-primary-nav .cd-nav-gallery > .see-all, .cd-primary-nav .cd-nav-icons > .see-all 
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block
    position: absolute
    left: 0
    bottom: 0
    height: 80px
    width: 100%
    overflow: hidden
    /* reset some inherited style */
    margin: 0
    padding: 0
  
  .cd-primary-nav .cd-secondary-nav > .see-all a, .cd-primary-nav .cd-nav-gallery > .see-all a, .cd-primary-nav .cd-nav-icons > .see-all a 
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    font-size: 2.2rem
    font-weight: bold
    text-align: center
    line-height: 80px
    border-top: 1px solid base_color6
    /* reset some inherited style */
    border-bottom: none
    margin: 0
    padding: 0
    transition: color 0.2s, background 0.2s, border 0.2s
  
  .cd-primary-nav .cd-secondary-nav > .see-all a:hover, .cd-primary-nav .cd-nav-gallery > .see-all a:hover, .cd-primary-nav .cd-nav-icons > .see-all a:hover 
    background: base_color2
    border-color: base_color2
    color: base_color5
  
  .cd-primary-nav .cd-secondary-nav > li 
    /* change the height according to your needs - you can even set height: auto */
    height: 340px
    /* here you set the number of columns - use width percentage */
    width: 23%
    float: left
    margin-right: 2.66%
    border-right: 1px solid base_color6
    overflow: hidden
    overflow-x: hidden
    overflow-y: auto
    -webkit-overflow-scrolling: touch
  
  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) 
    /* +2 because we have 2 list items with display:none */
    margin-right: 0
    border-right: none
  
  .cd-primary-nav .cd-secondary-nav > li > a 
    /* secondary nav title */
    color: link_color
    font-weight: bold
    font-size: 1.6rem
    margin-bottom: .6em
  
  .cd-primary-nav .cd-secondary-nav a 
    height: 30px
    line-height: 30px
    padding: 0 18% 0 0
    color: base_color2
    border-bottom: none
    font-size: 1.4rem
  
  .cd-primary-nav .cd-secondary-nav a:hover 
    color: link_color_hover
  
  .cd-primary-nav .cd-secondary-nav ul
    transform: translateZ(0)
  
  .cd-primary-nav .cd-secondary-nav ul ul 
    /* tertiary navigation */
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
  
  .cd-primary-nav .cd-secondary-nav ul ul.is-hidden
    transform: translateX(100%)
  
  .cd-primary-nav .cd-secondary-nav ul ul .go-back 
    display: block
  
  .cd-primary-nav .cd-secondary-nav ul ul .go-back a 
    color: transparent
  
  .cd-primary-nav .cd-secondary-nav ul ul .see-all 
    display: block
  
  .cd-primary-nav .cd-secondary-nav .moves-out > li > a 
    transform: translateX(-100%)
  
  .cd-primary-nav .cd-nav-gallery li 
    /* set here number of columns - use width percentage */
    width: 22%
    float: left
    margin: 0 4% 40px 0
  
  .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) 
    /* +2 because we have two additional list items with display:none */
    margin-right: 0
  
  .cd-primary-nav .cd-nav-gallery .cd-nav-item 
    border-bottom: none
    padding: 0
    height: auto
    line-height: 1.2
  
  .cd-primary-nav .cd-nav-gallery .cd-nav-item img 
    position: static
    margin-top: 0
    height: auto
    width: 100%
    margin-bottom: .6em
  
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 
    color: link_color
    font-weight: bold
    padding: 0 .4em
  
  .cd-primary-nav .cd-nav-icons li 
    /* set here number of columns - use width percentage */
    width: 32%
    float: left
    margin: 0 2% 20px 0
  
  .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) 
    /* +2 because we have two additional list items with display:none */
    margin-right: 0
  
  .cd-primary-nav .cd-nav-icons .cd-nav-item 
    border-bottom: none
    height: 80px
    line-height: 1.2
    padding: 24px 0 0 85px
  
  .cd-primary-nav .cd-nav-icons .cd-nav-item:hover 
    background: #f6f6f5
  
  .cd-primary-nav .cd-nav-icons .cd-nav-item h3 
    color: link_color
    font-weight: bold
  
  .cd-primary-nav .cd-nav-icons .cd-nav-item p 
    display: block
  
  .cd-primary-nav .cd-nav-icons .cd-nav-item::before 
    left: 25px

.has-children > a, .go-back a 
  position: relative

.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after 
  /* arrow icon in CSS - for element with nested unordered lists */
  content: ''
  position: absolute
  top: 50%
  margin-top: -1px
  display: inline-block
  height: 2px
  width: 10px
  background: #464c4e
  backface-visibility: hidden

.has-children > a::before, .go-back a::before
  transform: rotate(45deg)

.has-children > a::after, .go-back a::after
  transform: rotate(-45deg)

@media only screen and (min-width: 1170px) 
  .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after 
    background: base_color3
  
  .has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after 
    background: link_color_hover

.has-children > a 
  padding-right: 40px

.has-children > a::before, .has-children > a::after 
  /* arrow goes on the right side - children navigation */
  right: 20px
  transform-origin: 9px 50%

.cd-primary-nav .go-back a 
  padding-left: 40px

.cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after 
  /* arrow goes on the left side - go back button */
  left: 20px
  transform-origin: 1px 50%

@media only screen and (min-width: 1170px) 
  .has-children > a::before, .has-children > a::after 
    right: 15%

  .cd-primary-nav > .has-children > a 
    /* main navigation arrows on larger devices */
    padding-right: 30px !important
  
  .cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after 
    width: 9px
    transform-origin: 50% 50%
    background: base_color3
    backface-visibility: hidden
    transition: width 0.3s, transform 0.3s
  
  .cd-primary-nav > .has-children > a::before 
    right: 12px
  
  .cd-primary-nav > .has-children > a::after 
    right: 7px
  
  .cd-primary-nav > .has-children > a.selected::before, .cd-primary-nav > .has-children > a.selected::after 
    width: 14px
  
  .cd-primary-nav > .has-children > a.selected::before
    transform: translateX(5px) rotate(-45deg)
  
  .cd-primary-nav > .has-children > a.selected::after
    transform: rotate(45deg)
  

  .cd-secondary-nav > .has-children > a::before, .cd-secondary-nav > .has-children > a::after 
    /* remove arrows on secondary nav titles */
    display: none
  

  .cd-primary-nav .go-back a 
    padding-left: 20px
  
  .cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after 
    left: 1px

.cd-search 
  position: absolute
  height: 50px
  width: 100%
  top: 50px
  left: 0
  z-index: 3
  opacity: 0
  visibility: hidden
  transition: opacity .3s 0s, visibility 0s .3s

.cd-search form 
  height: 100%
  width: 100%

.cd-search input 
  border-radius: 0
  border: none
  background: base_color5
  height: 100%
  width: 100%
  padding: 0 5%
  box-shadow: inset 0 1px 0 base_color6, 0 3px 6px rgba(0, 0, 0, 0.05)
  appearance: none

.cd-search input::-webkit-input-placeholder 
  color: base_color3

.cd-search input::-moz-placeholder 
  color: base_color3

.cd-search input:-moz-placeholder 
  color: base_color3

.cd-search input:-ms-input-placeholder 
  color: base_color3

.cd-search input:focus 
  outline: none

.cd-search.is-visible 
  opacity: 1
  visibility: visible
  transition: opacity .3s 0s, visibility 0s 0s

.nav-is-fixed .cd-search 
  position: fixed

@media only screen and (min-width: 1170px) 
  .cd-search 
    height: 120px
    top: 80px
  
  .cd-search input 
    padding: 0 2em
    font-size: 3.2rem
    font-weight: 300

.cd-overlay
  /* shadow layer visible when navigation is active */
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  cursor: pointer
  /*background-color: rgba(105, 170, 111, 0.8)*/
  /*background-color: #e6eaef*/
  background-color: base_color
  visibility: hidden
  opacity: 0
  backface-visibility: hidden
  transition: opacity .3s 0s, visibility 0s .3s

.cd-overlay.is-visible 
  opacity: 1
  visibility: visible
  transition: opacity .3s 0s, visibility 0s 0s

/* --------------------------------

support for no js

-------------------------------- */
.no-js .cd-primary-nav 
  position: relative
  height: auto
  width: 100%
  overflow: visible
  visibility: visible
  z-index: 2

.no-js .cd-search 
  position: relative
  top: 0
  opacity: 1
  visibility: visible

@media only screen and (min-width: 1170px) 
  .no-js .cd-primary-nav 
    position: absolute
    z-index: 3
    display: inline-block
    width: auto
    top: 0
    right: 150px
    padding: 0

  .no-js .nav-is-fixed .cd-primary-nav 
    position: fixed
  

